	.circle1{
		position: relative;
		top: 20rpx;
		bottom: 868rpx;
		left: 92rpx;
		right: 89rpx;
		background-color: #ffffff;
		
	}
	.circle2{
		width: 569rpx;
		height: 466rpx;
	}
	.ye{
		position: absolute;
		top: 108rpx;
		left:200rpx;
		width: 200rpx;
		height: 30rpx;
		font-family: PingFang-SC-Medium,AdobeHeitiStd-Regular;
		font-size: 30rpx;
		font-weight: normal;
		font-stretch: normal;
		line-height: 42rpx;
		letter-spacing: 0rpx;
		color: #777777;
	}
	.num{
		position: absolute;
		top:220rpx;
		left:150rpx;
		width: 175rpx;
		height: 76rpx;
		font-family: AlternateGotNo3D;
		font-size: 111rpx;
		font-weight: normal;
		font-stretch: normal;
		line-height: 42rpx;
		letter-spacing: 0rpx;
		color: #333333;
	}
	.lj {
		position: absolute;
		top: 490rpx;
		left:236rpx;
		width: 94px;
		height: 23px;
		font-family: PingFangSC-Regular;
		font-size: 30rpx;
		font-weight: normal;
		font-stretch: normal;
		line-height: 42rpx;
		letter-spacing: 0rpx;
		color: #777777;
	}
	.num1 {
		position:absolute;
		top:533rpx;
		left:190rpx;
		width: 148rpx;
		height: 35rpx;
		font-family: AlternateGotNo3D;
		font-size: 50rpx;
		font-weight: normal;
		font-stretch: normal;
		line-height: 42rpx;
		letter-spacing: 0rpx;
		color: #333333;
	}
	.rect {
		position: relative;
		margin-top:200rpx;
		margin-left:21px;
		width: 679rpx;
		height: 130rpx;
		background-color: #ffffff;
		box-shadow: 4px -2px 65px 0px 
			rgba(3, 0, 0, 0.14);
		border-radius: 34px;
	}
	.mx{
		position: relative;
		top: 30rpx;
		left: 25rpx;
		width: 75rpx;
		height: 75rpx;
	}
	.mx2 {
		position: absolute;
		top: 28rpx;
		left: 145rpx;
		width: 109px;
		height: 26px;
		font-family: PingFang-SC-Bold;
		font-size: 35rpx;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #333333;
		}
	.eng {
		position: absolute;
		top: 76rpx;
		left: 145rpx;
		width: 129px;
		height: 17px;
		font-family: AppleSymbols;
		font-size: 25rpx;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #999999;
	}
	.tx{
		position: absolute;
		top: 393rpx;
		left:-15rpx;
	}

.button {
		width: 702rpx;
		height: 88rpx;
		background-color: #df9642;
		box-shadow: 4rpx -2rpx 24rpx 0rpx 
			rgba(3, 0, 0, 0.16);
		border-radius: 44rpx;
		font-family: PingFang-SC-Medium;
		font-size: 36rpx;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0rpx;
		color: #ffffff;
	}

